# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
- what data science is
- common libraries used for machine learning, visualizations, and computing
- Git and Github and how they are used for version control
- Differnt coding enviroments

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. C++
6. Java
7. Javascript
8. Scala

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. lattice
3. leaflet
4. NumPy
5. Pandas
6. TensorFlow
7. PyTorch
8. SciPy

|Data Science Tools|
------
|Apache Hadoop|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60

In [10]:
x=200
y=60 #60mins in an hr
x/y

3.3333333333333335

## created by Siddharth Patel